{% block content %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>ID</td>
			<td>Nombre</td>
			<td>Apodo</td>
			<td>Edad</td>
		</tr>
	</thead>
	<tbody>
		{% if entrenadores %}
		{% for entrenador in entrenadores %}
		<tr>
			<td>{{entrenador.pk}}</td>
			<td>{{entrenador.nombre}}</td>
			<td>{{entrenador.apodo}}</td>
			<td>{{entrenador.edad}}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'editar_entrenador' entrenador.pk %}">Editar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registro</h1>
		{% endif %}
	</tbody>
</table>
{% endblock%}